@import "../Login/Login.css";

.register-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 600px;
    padding: 25px;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.register-header {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
