.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;

    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;

    background-color: #4caf50;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #45a049;
}