.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;

    font-size: 60px;
    font-weight: bold;

    background-color: var(--dark-blue-lighter);
    border: none;
    border-radius: 15px;
    box-shadow: var(--box-shadow-button);
    cursor: pointer;
}