.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;

    font-size: 60px;
    font-weight: bold;

    background-color: rgba(31,53,64,255);
    border: none;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}