.info {
    display: flex;
    justify-content: center;
}

.label {
    padding: 15px;
    color: var(--dark-blue);
    font-size: 24px;
    font-weight: bold;
    background-color: var(--light-blue);
    box-shadow: var(--box-shadow-button);
    border-radius: 10px;
    text-transform: uppercase;
}
