.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    font-size: 24px;
    font-weight: bold;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    width: 600px;
}

.modalButtons {
    display: flex;
    gap: 50px;
}

.modalBtn {
    font-size: 20px;
    font-weight: bold;
    padding: 15px 25px;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.modalBtn:hover {
    background-color: var(--blue-darker);
}
