.start-page__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.auth__buttons {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 20px;
}

.auth__button {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: var(--blue);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.auth__button:hover {
    background-color: var(--blue-darker);
}

.start__button {
    padding: 40px 100px;
    font-size: 36px;
    font-weight: bold;
    background-color: var(--green);
    color: var(--white);
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.start__button:hover {
    background-color: var(--green-darker);
}

.auth__text {
    font-size: 24px;
}

.auth__text_link {
    color: var(--blue);
    text-decoration: none;
}

.auth__text_link:hover {
    text-decoration: underline;
}