.rooms-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding: 20px;
}

.rooms-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rooms-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}