body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 600px;
    padding: 25px;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.login-header {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.login-form, .form-group {
    display: flex;
    flex-direction: column;
}

.form-group {
    gap: 10px;
}

.login-form {
    gap: 20px;
}

.form-label {
    font-size: 20px;
    font-weight: bold;
}

.form-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-submit-btn {
    padding: 10px;
    background-color: var(--blue);
    color: var(--white);
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.form-submit-btn:hover {
    background-color: var(--blue-darker);
}

.auth-text {
    font-size: 20px;
}

.auth-text-link {
    color: var(--blue);
    text-decoration: none;
}

.auth-text-link:hover {
    text-decoration: underline;
}