.player {
    display: flex;
    text-align: center;
}

.label {
    display: flex;
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
    color: var(--dark-blue);
    box-shadow: var(--box-shadow-button);
    border-radius: 10px;
}
