.player-name {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.player {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
