.game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 100vh;
    padding: 50px;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.players {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
}