@import 'css-reset.css';

:root {
    --orange: #E89B30;
    --orange-hovered: #be7f26;
    --dark-blue: #1B263B;
    --dark-blue-lighter: #273756;
    --light-blue: #a8bec9;
    --light-blue-hovered: #8597a1;
    --turquoise: #31c4be;
    --turquoise-hovered: #24938e;

    --box-shadow-button: 4px 6px rgba(0, 0, 0, 0.7);
    --box-shadow-container: 5px 10px rgba(0, 0, 0, 0.7);
}

body, html {
    font-family: Arial, sans-serif;
}
